{% extends 'base.html.twig' %}


{% block javascripts %}
    <script>
        function validation(){
            return window.confirm("Etes vous sur de vouloir supprimer cette tâche?");
        }

    </script>
{% endblock %}

{% block body %}

    {% for tache in taches %}

        {% if tache.etat == "A faire" %}
            <div style="background-color: red; height: 10px ; width: 10px"> </div>
        {% else %}
            <div style="background-color: green; height: 10px ; width:10px"> </div>
        {% endif %}

        <a href="{{ path('suppression_tache', {'id' : client.id}) }}" onclick=" return validation()">
            <img src="{{ asset('images/icone_suppression.png') }}" alt="icone_suppression" style="height: 20px; width: 20px">
        </a>
        <div>{{ tache.id }}</div>

    {% endfor %}

    <div>{{ client.societe }}</div>
    <div>{{ client.firstName  ~ ' ' ~ client.lastName}}</div>
    <div>{{ client.firstName  ~ ' ' ~ client.lastName}}</div>
    <div> {{ client.telephone }} </div>

     {% if lastNote is defined  and lastNote is not empty %}

         <div>{{ lastNote[0].content }}</div>

         {% if lastNote|length > 1 %}

            <a href="{{ path("carnet_voir_notes", {'id' : client.id}) }}"> Voir les anciennes notes</a>

         {% endif %}

     {% endif %}

    <a href="{{ path('carnet_modifier', {'id' : client.id}) }}"> Modifier</a>
    <a href="{{ path('carnet_ajout_note', {'id' : client.id}) }}"> Ajouter une note</a>
    <a href="{{ path('ajout_tache', {'id' : client.id}) }}"> Ajouter une tâche</a>

    {% if clientForm is defined %}
        {{ form(clientForm) }}
    {% endif %}


{% endblock %}
