{% extends 'base.html.twig' %}


{% block javascripts %}
    <script>
        function validation(){
            return window.confirm("Etes vous sur de vouloir supprimer cette tâche?");
        }

    </script>
{% endblock %}

{% block body %}

    {% for tache in taches %}

        {% if tache.etat == "A faire" %}
            <div style="background-color: red; height: 10px ; width: 10px"> </div>

            <a href="{{ path('valider_tache', {'id_tache' : tache.id}) }}">Valider la tâche</a>
        {% else %}
            <div style="background-color: green; height: 10px ; width:10px"> </div>
        {% endif %}

        <a href="{{ path('suppression_tache', {'id_tache' : tache.id}) }}" onclick=" return validation()">
            <img src="{{ asset('images/icone_suppression.png') }}" alt="icone_suppression" style="height: 20px; width: 20px">
        </a>
        <div>{{ tache.id }}</div>

    {% endfor %}

    <div class="card" style="margin: 30px;">
        <div class="card-body">
            <h5 class="card-title">Fiche du client : {{ client.societe }}</h5>
            <p class="card-text">Nom complet : {{ client.firstName }} {{ client.lastName }}</p>
            <p class="card-text">Adresse mail : {{ client.email }}</p>
            <p class="card-text">Numéro de téléphone : {{ client.telephone }}</p>

            {% if lastNote is defined  and lastNote is not empty %}

                <p class="card-text">Dernière note :

            {{ lastNote[0].content }}
                </p>

            {% if lastNote|length > 1 %}

                <a class="btn btn-primary" style="margin: 20px" href="{{ path("carnet_voir_notes", {'id' : client.id}) }}"> Voir les anciennes notes</a>

            {% endif %}

            {% else %}
                <p class="card-text">Ce client n'a aucune note </p>
            {% endif %}


            <a class="btn btn-primary" style="margin: 20px" href="{{ path('carnet_modifier', {'id' : client.id}) }}"> Modifier</a>
            <a class="btn btn-primary" style="margin: 20px" href="{{ path('carnet_ajout_note', {'id' : client.id}) }}"> Ajouter une note</a>
            <a class="btn btn-primary" style="margin: 20px" href="{{ path('ajout_tache', {'id' : client.id}) }}"> Ajouter une tâche</a>

        </div>
    </div>

    {% if clientForm is defined %}

        {% form_theme clientForm 'bootstrap_4_layout.html.twig' %}

        <h3><center>Modifier la fiche client : </center></h3>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {{ form(clientForm) }}
            </div>
            <div class="col-2"></div>
        </div>

    {% endif %}

{% endblock %}
