{% extends 'base.html.twig' %}


{% block javascripts %}
    <script>
        function validation(){
            return window.confirm("Etes vous sur de vouloir supprimer cette tâche?");
        }

    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-5">
            <center><h3>Liste des tâches : </h3></center>
            {% for tache in taches %}
                <div class="card" style="margin: 20px">
                    <div>Nom : {{ tache.titre }}</div>
                    <div>Description : {{ tache.content }}</div>
                    <div>Date : {{ tache.publicationDate|date("m/d/Y") }}</div>

                {% if tache.etat == "A faire" %}
                    <div style="background-color: red; height: 15px ; width: 15px"> </div>

                {% else %}
                    <div style="background-color: green; height: 15px ; width:15px"> </div>
                {% endif %}

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <a href="{{ path('suppression_tache', {'id' : client.id}) }}" onclick=" return validation()">
                            <img src="{{ asset('images/icone_suppression.png') }}" alt="icone_suppression" style="height: 20px; width: 20px">
                        </a>
                    </div>
                    <div class="col-3">
                        {% if tache.etat == "A faire" %}
                        <a href="{{ path('valider_tache', {'id' : client.id}) }}">
                            <img src="{{ asset('images/check_icon.png') }}" alt="icone_suppression" style="height: 20px; width: 20px">
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-3"></div>
                </div>




            </div>
            {% endfor %}

        </div>

        <div class="col-6">
            <div class="card" style="margin: 30px;">
                <div class="card-body">
                    <h5 class="card-title">Fiche du client : {{ client.societe }}</h5>
                    <p class="card-text">Nom complet : {{ client.firstName }} {{ client.lastName }}</p>
                    <p class="card-text">Adresse mail : {{ client.email }}</p>
                    <p class="card-text">Numéro de téléphone : {{ client.telephone }}</p>

                    <p class="card-text">Dernière note : {% if lastNote is defined  and lastNote is not empty %}

                            {{ lastNote[0].content }}

                            {% if lastNote|length > 1 %}

                                <a class="btn btn-primary" style="margin: 20px" href="{{ path("carnet_voir_notes", {'id' : client.id}) }}"> Voir les anciennes notes</a>

                            {% endif %}
                        {% endif %}</p>

                    <a class="btn btn-primary" style="margin: 20px" href="{{ path('carnet_modifier', {'id' : client.id}) }}"> Modifier</a>
                    <a class="btn btn-primary" style="margin: 20px"href="{{ path('carnet_ajout_note', {'id' : client.id}) }}"> Ajouter une note</a>
                    <a class="btn btn-primary" style="margin: 20px"href="{{ path('ajout_tache', {'id' : client.id}) }}"> Ajouter une tâche</a>

                </div>
            </div>
        </div>

    </div>





    {% if clientForm is defined %}

        {% form_theme clientForm 'bootstrap_4_layout.html.twig' %}

        <h3><center>Modifier la fiche client : </center></h3>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {{ form(clientForm) }}
            </div>
            <div class="col-2"></div>
        </div>

    {% endif %}

{% endblock %}
